<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.justeat.jubako.test"
          android:versionName="1.0">

    <application android:theme="@style/Theme.AppCompat">
        <activity android:name="com.justeat.jubako.platform.TestJubakoActivity"/>
        <activity android:name="com.justeat.jubako.platform.RobustnessTestJubakoActivity"/>
    </application>

</manifest>